<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Use Dev</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<header class="header">
  <div class="logo">USE DEV</div>
  <nav>
    <a href="#">Sobre nós</a>
    <a href="#">Login</a>
  </nav>
</header>

<div class="search-box">
  <input placeholder="O que você procura?">
</div>

<section class="hero">
  <img src="https://i.pinimg.com/736x/7f/a4/0c/7fa40c539803778e538826a5cadf0f64.jpg">
  <h1>Hora de abraçar seu <span>lado geek!</span></h1>
  <button>Ver as novidades!</button>
</section>

<section class="secao-site">
  <h2>Categorias</h2>
  <div class="grid-categorias">
    <div class="card-preto">
      <img src="https://i.pinimg.com/1200x/c9/31/1a/c9311af29a0df3b4c416aaedd7b0f697.jpg">
      <p>Roupas</p>
    </div>
    <div class="card-preto">
      <img src="https://i.pinimg.com/736x/c7/8f/94/c78f948e94e8b678375199d05dbf35dc.jpg">
      <p>Decoração</p>
    </div>
    <div class="card-preto">
      <img src="https://i.pinimg.com/736x/69/09/d2/6909d2bfa71afca6211bba58ce2d4251.jpg">
      <p>Canecas</p>
    </div>
    <div class="card-preto">
      <img src="https://i.pinimg.com/736x/5b/b3/22/5bb32229ad23fc5c4f7439568de35e3d.jpg">
      <p>Acessórios</p>
    </div>
  </div>
</section>

<section class="secao-site">
  <h2>Promos especiais</h2>
  <div class="grid-produtos">
    <div class="card-produto">
      <div class="produto-img">
        <img src="https://i.pinimg.com/736x/a0/0a/63/a00a63098280edd8a2283744a4b6bf70.jpg">
      </div>
      <div class="produto-info">
        <p>Camiseta Capy</p>
        <span>28,00</span>
      </div>
    </div>
    <div class="card-produto">
      <div class="produto-img">
        <img src="https://i.pinimg.com/736x/15/af/45/15af45a549b33646843def1d2b447514.jpg">
      </div>
      <div class="produto-info">
        <p>Mousepad Café</p>
        <span>18,00</span>
      </div>
    </div>
    </div>
</section>

<section class="newsletter">
  <h2>Inscreva-se para ganhar descontos!</h2>
  <p>Cadastre seu email, receba novidades e descontos imperdíveis antes de todo mundo!</p>
  <div class="form-news">
    <input placeholder="Digite seu melhor endereço de email">
    <button>Inscrever</button>
  </div>
</section>

<footer>
  <p>Hora de abraçar seu lado geek!</p>
</footer>

</body>
</html>